.navbar {
    min-height: 70px !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover {
    color: skyblue !important;
    transition: 0.3s all ease-in;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand > img {
    padding: 7px 14px;
}

.nav-link {
    font-size: 20px;
}

.navbar-toggler {
    border: 2px solid white !important;
}

.navbar-toggler:hover {
    border-color: skyblue !important;
    transition: 0.3s all ease-in;
}

@media only screen and (max-width: 600px) {
    .navbar form {
        margin-top: 10px;
    }

    .navbar button {
        margin: 15px 0 5px 0;
    }
}
